image: docker:latest

services:
  - docker:dind

stages:
  - publish
  - deploy

publish:
  stage: publish
  before_script:
    - apk add --no-cache bash
    - echo $CI_REGISTRY_PASSWORD | docker login $DOCKER_REGISTRY_URL -u $CI_REGISTRY_USER --password-stdin
  script:
    - cd $CI_PROJECT_DIR/docker/bin
    - bash ./build
    - bash ./push
    - docker logout $DOCKER_REGISTRY_URL
  only:
    - tags
  except:
    variables:
      - $DEPLOY_ENVIRONMENT
  tags:
    - docker

.deploy_template: &deploy_template
  stage: deploy
  script:
    - if [[ -z "$ENVIRONMENT" ]] || [[ ! $DEPLOY_ENVIRONMENT =~ (^|;)"$ENVIRONMENT"($|;) ]] ; then exit 0; fi
    - echo $DOCKER_REGISTRY_PASSWORD | docker login $DOCKER_REGISTRY_URL -u $DOCKER_REGISTRY_USER --password-stdin
    - cd $CI_PROJECT_DIR/docker/bin
    - bash ./deploy $ENVIRONMENT
    - docker logout $DOCKER_REGISTRY_URL
  only:
    refs:
      - tags
    variables:
      - $DEPLOY_ENVIRONMENT

deploy:staging:
  <<: *deploy_template
  environment: staging
  variables:
    ENVIRONMENT: staging
  tags:
    - contabo

#deploy:production:
#  <<: *deploy_template
#  environment: production
#  variables:
#    ENVIRONMENT: production
#  tags:
#    - amazon